$climateGreen: rgb(27, 115, 64);
$criticalmassBlue: rgb(24, 154, 202);
$white: rgb(255, 255, 255);

$primary: $white;
$headings-color: $white;

$body-bg: $climateGreen;
$body-color: $white;
$link-color: $white;


@import "node_modules/bootstrap/scss/functions.scss";
@import "node_modules/bootstrap/scss/variables.scss";
@import "node_modules/bootstrap/scss/mixins.scss";
@import "node_modules/bootstrap/scss/root.scss";
@import "node_modules/bootstrap/scss/reboot.scss";
@import "node_modules/bootstrap/scss/type.scss";
@import "node_modules/bootstrap/scss/images.scss";
@import "node_modules/bootstrap/scss/code.scss";
@import "node_modules/bootstrap/scss/grid.scss";
@import "node_modules/bootstrap/scss/buttons.scss";
@import "node_modules/bootstrap/scss/button-group.scss";
@import "node_modules/bootstrap/scss/alert.scss";
@import "node_modules/bootstrap/scss/close.scss";
@import "node_modules/bootstrap/scss/modal.scss";
@import "node_modules/bootstrap/scss/carousel.scss";
@import "node_modules/bootstrap/scss/utilities.scss";
@import "node_modules/bootstrap/scss/print.scss";

@import "../../node_modules/font-awesome/scss/font-awesome.scss";

small.advertising-rotate {
  transform: rotate(-90deg);
}

#github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#global-climate-strike {
  box-shadow: 0 0 5px $warning;
  border-radius: 25px;

  a {
    text-decoration: underline;
  }
}

.leaflet-layer {
  filter: sepia(25%) hue-rotate(50deg) saturate(150%) contrast(75%) brightness(110%);
}