{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="h3">
                Impressum
            </h1>

            <p>
                Angaben nach § 5 TMG:
            </p>

            <p>
                Malte Hübner
                <br />
                Niebuhrstraße 48
                <br />
                24118 Kiel
            </p>

            <h5>
                Kontakt
            </h5>

            <p>
                E-Mail: <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a>
                <br />
                Telefon: 0700 11 864 833
            </p>

            <p>
                Bitte nutze nach Möglichkeit unsere E-Mail-Adresse <a href="mailto:criticalmass@caldera.cc">criticalmass@caldera.cc</a> für Anfragen jeglicher Art.
            </p>
        </div>
    </div>
{% endblock %}
